*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    text-align: center;
    color: black;
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
}
.nav__bar{
    position: sticky;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #f1f1f1;
    color: rgb(185, 24, 24);
    
}
ul{
    list-style: none;
    display: flex;
    padding-left: 0%;
}
.nav__item{
    padding: 5px 10px;
}
.a{
    margin: 0%;
}
a{
    text-decoration: none;
    color: rgb(148, 20, 20);
}
/* main css */
h1{
    font-family: 'Rampart One', cursive;
}
/*footer css*/
.footer__social__container{
    margin: 2%;
}
.social{
    color: black;
    margin: 0% 3%;
}
.footer__container2{
    margin: 5%;
}
.footer__p{
    margin: 5%;
    display: inline;
    color: black;
}
.footer__items{
    color: black;
}
.footer__copyright{
    display: inline;
}
/*media query 768px*/
@media(min-width: 768px) {
    .a1{
        font-size: 24px;
    }
    .footer__p{
        margin: 4%;
    }
}
/* media query 1024px*/
@media(min-width : 1024px){
    .a:hover .a1:hover{
        padding: 5px;
        font-size: 15px;
        border-radius: 5px;
        color: white;
        border: 2px solid rgb(0, 0, 0);
        background: black;   
        transition: .5s; 
        transform-origin: bottom;
        transform: scaleY(-1);
    }
    .footer__container2{
        margin: 2%;
    }
}